body {
  font-family: Arial, Helvetica, sans-serif;
  background: radial-gradient(circle at 10% 20%,
      rgb(242, 235, 243) 0%,
      rgb(234, 241, 249) 90.1%);
}

h1 {
  color: #0d6efd;
  font-size: 30px;
  font-weight: bold;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 5px;
  margin: 0;
  padding: 0;
}

small {
  display: block;
  margin: 20px;
  text-align: center;
}

a {
  text-decoration: none;
}

li:first-letter {
  text-transform: capitalize;
}

.container {
  margin: 60px auto;
}

.weather-app {
  padding: 30px;
  border: 1px solid #dfdfdf;
  border-radius: 4px;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 10px auto;
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: #05004e;
  font-size: 64px;
  font-weight: 400;
  font-weight: 700;
  line-height: 1;
  margin-right: 0;
}

.weather-temperature .units {
  color: #05004e;
  font-size: 20px;
  font-weight: 100;
  line-height: 36px;
  line-height: 1;
  position: relative;
  top: -34px;
}

.input-colour {
  background-color: rgb(249, 247, 254);
}